<p>Here are the stats for <a href="/user/farmers">{{user.dataValues.current_farmer_name}}</a>'s {{#if subtitle}}{{subtitle}}{{else}}{{title}}{{/if}}.</p>


<section class="bundle-progress">

{{#if isIndex}}
	<div class="col-xs-12">
		<div id="{{#if bundle}}{{bundle}}{{else}}{{room}}{{/if}}">

			<h3 class="progress-tracker">Total Progress</h3>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
			  </div>
			</div>

		</div>
	</div>

	{{#each bundles}}
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="bundle-progress-item" id="{{this.id}}">

				<a href="/bundles/{{../room}}/{{this.id}}">
					<h3>{{this.name}}</h3>
					<img src="/images/bundle-pictures/{{this.id}}.png">
				</a>

				<div class="progress">
				  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
				  </div>
				</div>

				<a class="btn btn-primary" href="/bundles/{{../room}}/{{this.id}}">Track</a>

			</div>
		</div>
	{{/each}}
{{/if}}

{{#unless isIndex}}
	<div class="col-xs-12">
		<div id="{{bundle}}">

			<h3 class="{{bundle}} progress-tracker">Total Progress</h3>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
			  </div>
			</div>

		</div>
	</div>

	{{#each bundleItems}}
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="bundle-progress-item" id="{{this.id}}">

				<h3>{{this.name}}</h3>
				<p><img class="bundle-item-image" src="/images/bundle-items/{{this.id}}.png"></p>

				<button class="{{../bundle}} update-bundle btn btn-danger" data-room="{{../room}}" id="{{this.id}}"><i class="fa fa-fw fa-square-o" aria-hidden="true"></i> Completed</button>

			</div>
		</div>
	{{/each}}
{{/unless}}

</section>