<p>Welcome, <a href="/user/account">{{user.username}}</a>! You are currently tracking progress for your farmer <a href="/user/farmers" class="farmer">{{user.current_farmer_name}}</a>.</p>

<section class="bundle-progress">
	<div class="col-xs-12">
		<div id="communitycenter">

		<h3>Community Center Progress</h3>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
			  </div>
			</div>

		</div>
	</div>

	{{#each bundles}}
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="bundle-progress-item" id="{{this.id}}">

				<a href="/bundles/{{this.id}}">
					<h3>{{this.name}}</h3>
					<img src="/images/bundle-pictures/{{this.picture}}.png">
				</a>

				<div class="progress">
				  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
				  </div>
				</div>

				<a class="btn btn-primary" href="/bundles/{{this.id}}">Track</a>

			</div>
		</div>
	{{/each}}
</section>